#content { display: flex; }   

img{
  margin: 30px;
  width: 30%;
  float: center;
}

nav{ 
  flex: 0; 
  min-width: 150px;
  order: 1;
  background-color: #9078c4; 
  
}

#definition, #links{
  background-color: #e2daeb;
  color: #1f1235;
  padding: 10px;
}

main{ 
  flex: 3; 
  order:3;
  min-width: 20em; 
  background-color: #FFFFFF; 
  padding: 1em;
}



nav ul { list-style-type: none;
         padding: 10px; 
        
       }

nav a{
  color: #1f1235;
  padding: 5px;
}

a { text-decoration: none;
        padding: 1em;
		font-weight: bold;
}


body {
  height: 100%;
  width: 100%;
  font-family: Arial;
  
}

h2{
  text-align: center;
}

header{
  background-color: #67568c;
  text-align: center;
  padding: 3px;
  color: white;
  font-family: verdana;
  font-size: 30px;
  margin: 0px;
}

footer{
  background-color: #67568c;
  text-align: center;
  padding: 3px;
  color: white;
  margin: 0px;
  margin-top: 10px;
}

.homenav{
  border-radius: 5px;
  background-color: #e2daeb;
  margin: auto;
  width: 90%;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.homenav a{
  color: white;
  background-color: #480d68;
  border-radius: 10px;
  margin-left: 3%;
  margin-right: 2%;
}



